<div class="container" ng-controller="EventsCtrl">
  <div class="page-header">
    <h3>List of events from the REST API
      <code>/api/v1/events</code>
    </h3>
  </div>

  <a ng-href="/#/event/add" target="_self">Add Event</a>

  <p class="lead">
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Thumb</th>
        <th>Location</th>
        <th>Start</th>
        <th>End</th>
      </tr>
      <tr ng-repeat="p in events">
        <td>{{p.event_id}}</td>
        <td><a ng-href="/#/subevents/{{p.event_id}}" target="_self">{{p.event_name}}</a></td>
        <td>{{p.event_thumb}}</td>
        <td>{{p.event_location}}</td>
        <td>{{p.event_start}}</td>
        <td>{{p.event_end}}</td>
      </tr>
    </table>
  </p>

</div>
