
<!--<form  ng-controller="MyCtrl as up" name="up.upload_form">
            Single Image with validations
        <input 
            type="file" 
            ngf-select 
            ng-model="up.file" 
            name="file" 
            ngf-pattern="'image/*'"
            accept="image/*" 
            ngf-max-size="20MB" 
            />
        Image thumbnail: <img style="width:100px;" ng-show="!!up.file" ngf-thumbnail="up.file || '/thumb.jpg'"/>
        <i ng-show="up.upload_form.file.$error.required">*required</i><br>
        <i ng-show="up.upload_form.file.$error.maxSize">File too large 
        {{up.file.size / 1000000|number:1}}MB: max 20M</i>
       
        <button type="submit" ng-click="up.submit()">submit</button>
        <p>{{up.progress}}</p>
    </form>-->

<!--  Multiple files
        <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
        Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div> -->
        

    <div ng-controller="MyCtrl">
  <h4>Upload on file select</h4>
  <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
      Select File</button>
  <br><br>
  File:
  <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"  
               ng-bind="f.progress + '%'"></div>
      </span>
  </div>     
  {{errorMsg}}
</div>



<div class="container" ng-controller="EventsCtrl">
  <div class="page-header">
    <h3>Add Event
      <code>/api/v1/events</code>
    </h3>
  </div>



    


  <!--<form name="myForm" enctype="multipart/form-data">
    <fieldset>
      <legend>Upload on form submit</legend>
      Username:
      <input type="text" name="userName" ng-model="username" size="31" required>
      <i ng-show="myForm.userName.$error.required">*required</i>
      <br>Photo:
      <input type="file" ngf-select ng-model="userPhoto" name="file"    
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFile">
      <i ng-show="myForm.file.$error.required">*required</i><br>
      <i ng-show="myForm.file.$error.maxSize">File too large 
          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      <img ng-show="myForm.file.$valid" ngf-thumbnail="userPhoto" class="thumb"> <button ng-click="userPhoto = null" ng-show="userPhoto">Remove</button>
      <br>
      <button ng-disabled="!myForm.$valid" 
              ng-click="uploadPic(userPhoto)">Submit</button>
      <span class="progress" ng-show="userPhoto.progress >= 0">
        <div style="width:{{userPhoto.progress}}%" 
            ng-bind="userPhoto.progress + '%'"></div>
      </span>
      <span ng-show="userPhoto.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </fieldset>
    <br>
  </form>-->



<div class="form-group">
  <label for="eventthumb">Event Name</label>
  <input type="file" id="eventthumb" ng-file-select="onFileSelect($files)" multiple>
</div>

<div class="form-group">
  <label for="eventname">Event Name</label>
  <input type="text" class="form-control" id="eventname" placeholder="Name" ng-model="event.name">
</div>

<div class="form-group">
  <label for="eventdesc">Event Description</label>
  <textarea class="form-control" id="eventdesc" placeholder="Description" ng-model="event.description"></textarea>
</div>

<div class="form-group">
  <label for="eventlocation">Event Location</label>
  <input type="text" class="form-control" id="eventlocation" placeholder="Location" ng-model="event.location">
</div>

<div class="form-group">
  <label for="eventstart">Event Start</label>
  <input type="datetime-local" class="form-control" id="eventstart" placeholder="Start" ng-model="event.start" required>
</div>

<div class="form-group">
  <label for="eventend">Event End</label>
  <input type="datetime-local" class="form-control" id="eventend" placeholder="End" ng-model="event.end" required>
</div>


<button type="button" ng-click="create()" class="btn btn-primary">Submit</button>


</div>
