<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="HeaderCtrl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" ng-show="showMenu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> <a class="navbar-brand" href="#/">Monica</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" ng-show="showMenu">
        <li ng-class="{active:isActive('/')}"><a href="#">Home</a>
        </li>
         <li ng-class="{active:isActive('/events')}"><a ng-href="#/events">Events</a>
        </li>
        <!--<li ng-class="{active:isActive('/page1')}"><a ng-href="#/page1">Page 1 (Sample Directive)</a>
        </li>
        <li ng-class="{active:isActive('/page2')}"><a ng-href="#/page2">Page 2 (Sample Filter)</a>
        </li>
        <li ng-class="{active:isActive('/page3')}"><a ng-href="#/page3">Page 3 (Sample Factory)</a>-->
        </li>
        <li><a href="javascript:" ng-click="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
