<div class="container" ng-controller="Page1Ctrl">
  <div class="page-header">
    <h3>This is from {{ name }}</h3>
  </div>

  <p class="lead"> Demo a simple directive
  <code>&lt;print-this/></code>
  </p>

  <print-this></print-this>

</div>
