<div class="container" ng-controller="SubeventsCtrl">
  <div class="page-header">
    <h3>Add Subevent
      <code>/api/v1/subevent</code>
    </h3>
  </div>





<div class="form-group">
  <label for="subeventname">Subevent Name</label>
  <input type="text" class="form-control" id="subeventname" placeholder="Name" ng-model="subevent.name">
</div>

<div class="form-group">
  <label for="subeventdesc">Subevent Description</label>
  <textarea class="form-control" id="subeventdesc" placeholder="Description" ng-model="subevent.description"></textarea>
</div>

<div class="form-group">
  <label for="subeventnstart">Subevent Start</label>
  <input type="datetime-local" class="form-control" id="subeventnstart" placeholder="Start" ng-model="subevent.start" required>
</div>

<div class="form-group">
  <label for="subeventnend">Subevent End</label>
  <input type="datetime-local" class="form-control" id="subeventnend" placeholder="End" ng-model="subevent.end" required>
</div>


<button type="button" ng-click="create()" class="btn btn-primary">Submit</button>


</div>

