<div class="container" ng-controller="SubeventsCtrl">
  <div class="page-header">
    <h3>List of subevents from the REST API
      <code>/api/v1/subevent</code>
    </h3>
  </div>

  <a ng-href="/#/subevent/add/{{eventid}}" target="_self">Add Subevent</a>

  <p class="lead">
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Thumb</th>
        <th>Start</th>
        <th>End</th>
      </tr>
      <tr ng-repeat="p in subevents">
        <td>{{p.subevent_id}}</td>
        <td>{{p.subevent_name}}</td>
        <td>{{p.subevent_image}}</td>
        <td>{{p.subevent_start}}</td>
        <td>{{p.subevent_end}}</td>
      </tr>
    </table>
  </p>

</div>
