

<div class="container" ng-controller="CompaniesCtrl">
  <div class="page-header">
    <h3>Add Company
      <code>/api/v1/companies</code>
    </h3>
  </div>



<!--<ui-select ng-model="superhero.selected">
          <ui-select-match placeholder="Select or search a superhero in the list...">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="hero in getSuperheroes($select.search) | filter: $select.search">
            <div ng-bind="hero"></div>
          </ui-select-choices>
        </ui-select>-->


<!--<ui-select multiple ng-model="superhero.selected" theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="false" style="width: 300px;" title="Choose a topic">
    <ui-select-match placeholder="Select topics...">{{$select.selected}}</ui-select-match>
    <ui-select-choices repeat="hero in getSuperheroes($select.search) | filter: $select.search">
      {{hero}}
    </ui-select-choices>
  </ui-select>-->


<!--<ui-select multiple ng-model="superhero.selected" theme="bootstrap" ng-disabled="ctrl.disabled" sortable="true" close-on-select="false" style="width: 800px;">
    <ui-select-match placeholder="Select person...">{{$select.selected}}</ui-select-match>
    <ui-select-choices repeat="hero in getSuperheroes($select.search) | filter: $select.search">
      <div ng-bind-html="hero | highlight: $select.search"></div>
      <small>
        {{hero}}
      </small>
    </ui-select-choices>
  </ui-select>
  <p>Selected: {{multipleDemo.selectedPeople}}</p>-->



    <ui-select multiple  ng-model="multipleDemo.colors" theme="select2" ng-disabled="disabled" style="width: 300px;">
    <ui-select-match placeholder="Select colors...">{{$item}}</ui-select-match>
    <ui-select-choices refresh="funcAsync($select.search)" refresh-delay="0" repeat="color in availableColors | filter:$select.search">
      {{color}}
    </ui-select-choices>
  </ui-select>
  <p>Selected: {{multipleDemo.colors}}</p>
  

<!--<div ng-controller="MyCtrl">-->
  <h4>Upload on file select</h4>
  <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
      Select File</button>
  <br><br>
  File:
  <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"  
               ng-bind="f.progress + '%'"></div>
      </span>
  </div>     
  {{errorMsg}}
<!--</div>-->

  <!--<div class="form-group">
    <label for="eventthumb">Event Thumb</label>
    <form  ng-controller="MyCtrl as up" name="up.upload_form">
            
        <input 
            type="file" 
            ngf-select 
            ng-model="up.file" 
            name="file" 
            ngf-pattern="'image/*'"
            accept="image/*" 
            ngf-max-size="20MB" 
            />
        Image thumbnail: <img style="width:100px;" ng-show="!!up.file" ngf-thumbnail="up.file || '/thumb.jpg'"/>
        <i ng-show="up.upload_form.file.$error.required">*required</i><br>
        <i ng-show="up.upload_form.file.$error.maxSize">File too large 
        {{up.file.size / 1000000|number:1}}MB: max 20M</i>
       
        <button type="submit" ng-click="up.submit()">submit</button>
        <p>{{up.progress}}</p>
    </form>
</div>-->
<!--  Multiple files
        <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
        Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div> -->


<div class="form-group">
  <label for="companyimage">Company Thumblink</label>
  <input type="text" class="form-control" id="companyimage" placeholder="Thumb" ng-model="imagelink">
</div>

<div class="form-group">
  <label for="companyname">Company Name</label>
  <input type="text" class="form-control" id="companyname" placeholder="Name" ng-model="company.name">
</div>

<div class="form-group">
  <label for="companydesc">Company Description</label>
  <textarea class="form-control" id="companydesc" placeholder="Description" ng-model="company.description"></textarea>
</div>

<div class="form-group">
  <label for="companylocation">Company Location</label>
  <input type="text" class="form-control" id="companylocation" placeholder="Location" ng-model="company.location">
</div>




<button type="button" ng-click="create()" class="btn btn-primary">Submit</button>


</div>
