<div class="container" ng-controller="CompaniesCtrl">
  <div class="page-header">
    <h3>List of companies from the REST API
      <code>/api/v1/companies</code>
    </h3>
  </div>

  <a ng-href="/#/company/add" target="_self">Add Company</a>

  <p class="lead">
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Thumb</th>
      </tr>
      <tr ng-repeat="p in companies">
        <td>{{p.company_id}}</td>
        <td><a ng-href="/#/company/{{p.company_id}}" target="_self">{{p.name}}</a></td>
        <td>{{p.photo}}</td>
      </tr>
    </table>
  </p>
</div>
