

<div class="container" ng-controller="EventsCtrl">
  <div class="page-header">
    <h3>Add Event
      <code>/api/v1/events</code>
    </h3>
  </div>


<!--<div ng-controller="MyCtrl">-->
  <h4>Upload on file select</h4>
  <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
      Select File</button>
  <br><br>
  File:
  <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"  
               ng-bind="f.progress + '%'"></div>
      </span>
  </div>     
  {{errorMsg}}
<!--</div>-->

  <!--<div class="form-group">
    <label for="eventthumb">Event Thumb</label>
    <form  ng-controller="MyCtrl as up" name="up.upload_form">
            
        <input 
            type="file" 
            ngf-select 
            ng-model="up.file" 
            name="file" 
            ngf-pattern="'image/*'"
            accept="image/*" 
            ngf-max-size="20MB" 
            />
        Image thumbnail: <img style="width:100px;" ng-show="!!up.file" ngf-thumbnail="up.file || '/thumb.jpg'"/>
        <i ng-show="up.upload_form.file.$error.required">*required</i><br>
        <i ng-show="up.upload_form.file.$error.maxSize">File too large 
        {{up.file.size / 1000000|number:1}}MB: max 20M</i>
       
        <button type="submit" ng-click="up.submit()">submit</button>
        <p>{{up.progress}}</p>
    </form>
</div>-->
<!--  Multiple files
        <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
        Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div> -->


<div class="form-group">
  <label for="eventimage">Event thumblink</label>
  <input type="text" class="form-control" id="eventimage" placeholder="Thumb" ng-model="imagelink">
</div>

<div class="form-group">
  <label for="eventname">Event Name</label>
  <input type="text" class="form-control" id="eventname" placeholder="Name" ng-model="event.name">
</div>

<div class="form-group">
  <label for="eventdesc">Event Description</label>
  <textarea class="form-control" id="eventdesc" placeholder="Description" ng-model="event.description"></textarea>
</div>

<div class="form-group">
  <label for="eventlocation">Event Location</label>
  <input type="text" class="form-control" id="eventlocation" placeholder="Location" ng-model="event.location">
</div>

<div class="form-group">
  <label for="eventstart">Event Start</label>
  <input type="datetime-local" class="form-control" id="eventstart" placeholder="Start" ng-model="event.start" required>
</div>

<div class="form-group">
  <label for="eventend">Event End</label>
  <input type="datetime-local" class="form-control" id="eventend" placeholder="End" ng-model="event.end" required>
</div>


<button type="button" ng-click="create()" class="btn btn-primary">Submit</button>


</div>
